body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #B97CAC;
}
.navbar-text {
    color: #B97CAC;
}
.title-image {
    width: 100%;
}
.divv {
    background-color: #550E52;
}